---
import { animate } from "animejs";
import Navbar from "../components/ui/Navbar.astro";
import Footer from "../components/ui/Footer.astro";
import "../styles/global.css";
import { ClientRouter, fade, slide } from "astro:transitions";

interface Props {
    logoState?: string;
    pageTitle?: string;
}

const { logoState = "", pageTitle = "grphdsgn" } = Astro.props;
---

<!doctype html>
<html lang="en" class="font-serif bg-svart text-hvit h-200vh">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>tzenworks - {pageTitle}</title>
        <ClientRouter />
    </head>

    <body class="">
        <Navbar logoState={logoState} transition:animate="slide" />
        <main class="min-h-[calc(100vh)] mb-60 ml-44">
            <slot />
        </main>
        <Footer />
    </body>
</html>
